---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 563492ad6f91700001000001ac932794e7f9479e90aed4df3f13d8c5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a75ee78094c833ffd72e77a963f08933"
      X-Ratelimit-Remaining:
      - '20000'
      X-Server:
      - alpaca
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[{"id":7993899,"width":3897,"height":5845,"url":"https://www.pexels.com/photo/men-wearing-long-sleeves-talking-to-each-other-7993899/","photographer":"Thirdman","photographer_url":"https://www.pexels.com/@thirdman","photographer_id":3361091,"avg_color":"#777066","src":{"original":"https://images.pexels.com/photos/7993899/pexels-photo-7993899.jpeg","large2x":"https://images.pexels.com/photos/7993899/pexels-photo-7993899.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/7993899/pexels-photo-7993899.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/7993899/pexels-photo-7993899.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/7993899/pexels-photo-7993899.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/7993899/pexels-photo-7993899.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/7993899/pexels-photo-7993899.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/7993899/pexels-photo-7993899.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"alt":"Men
        Wearing Long Sleeves Talking to Each Other "},{"id":8373833,"width":2000,"height":3000,"url":"https://www.pexels.com/photo/photo-of-women-using-laptops-8373833/","photographer":"Darina
        Belonogova","photographer_url":"https://www.pexels.com/@darina-belonogova","photographer_id":22470218,"avg_color":"#A8988B","src":{"original":"https://images.pexels.com/photos/8373833/pexels-photo-8373833.jpeg","large2x":"https://images.pexels.com/photos/8373833/pexels-photo-8373833.jpeg?auto=[...]
