---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f45a118a61b0afee36c03b38c047f344&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646704745,"sunrise":1646659442,"sunset":1646701087,"temp":24.73,"feels_like":24.73,"pressure":1022,"humidity":69,"dew_point":16.99,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":1.01,"wind_deg":182,"wind_gust":1.99,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1646701200,"temp":25.23,"feels_like":19.67,"pressure":1022,"humidity":67,"dew_point":16.86,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":4.5,"wind_deg":228,"wind_gust":3.94,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.24},{"dt":1646704800,"temp":24.73,"feels_like":19.26,"pressure":1022,"humidity":69,"dew_point":16.99,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":4.34,"wind_deg":226,"wind_gust":4.72,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.24},{"dt":1646708400,"temp":25.18,"feels_like":20.59,"pressure":1022,"humidity":70,"dew_point":17.73,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.69,"wind_deg":223,"wind_gust":4.03,"weather":[{"id"[...]
