---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f45a118a61b0afee36c03b38c047f344&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1647542935,"sunrise":1647522487,"sunset":1647565706,"temp":33.75,"feels_like":29.12,"pressure":1021,"humidity":91,"dew_point":31.48,"uvi":3.61,"clouds":100,"visibility":5856,"wind_speed":5.01,"wind_deg":349,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"snow":{"1h":0.65}},"hourly":[{"dt":1647540000,"temp":33.78,"feels_like":24.46,"pressure":1021,"humidity":90,"dew_point":31.26,"uvi":2.75,"clouds":100,"visibility":2518,"wind_speed":13.42,"wind_deg":10,"wind_gust":18.45,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"pop":1,"snow":{"1h":0.34}},{"dt":1647543600,"temp":33.75,"feels_like":25.05,"pressure":1021,"humidity":91,"dew_point":31.48,"uvi":3.61,"clouds":100,"visibility":5856,"wind_speed":11.83,"wind_deg":21,"wind_gust":16.08,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"pop":0.8,"snow":{"1h":0.65}},{"dt":1647547200,"temp":34.29,"feels_like":26.11,"pressure":1021,"humidity":86,"dew_point":30.72,"uvi":3.31,"clouds":100,"visibility":10000,"wind_speed":10.94,"wind_deg":32,"wind_gust":14.58,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.8,"rain":{"1h":0.24}},{"dt":1647550800,"temp":35.31,"feels_like":27.64,"pressure":1021,"humidity":80,"dew_point":30.04,"uvi":2.51,"clouds":100,"visibility":10000,"wind_speed":10.4,"wind_deg":39,"wind_gust":14.25,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.8},{"dt":1647554400,"temp":36.32,"feels_like":28.98,"pressure":1020,"humidity":72,"dew_point":28.62,"uvi":1.84,"clouds":100,"visibility":10000,"wind_speed":10.22,"wind_deg":48,"wind_gust":13.73,"we[...]
