---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f45a118a61b0afee36c03b38c047f344&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646510154,"sunrise":1646486827,"sunset":1646528160,"temp":30.88,"feels_like":23.61,"pressure":1010,"humidity":31,"dew_point":6.67,"uvi":2.04,"clouds":100,"visibility":10000,"wind_speed":7.81,"wind_deg":35,"wind_gust":6.33,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1646506800,"temp":31.98,"feels_like":24.06,"pressure":1010,"humidity":39,"dew_point":12.24,"uvi":2.24,"clouds":100,"visibility":10000,"wind_speed":9.31,"wind_deg":30,"wind_gust":7.85,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.31},{"dt":1646510400,"temp":30.88,"feels_like":23.61,"pressure":1010,"humidity":31,"dew_point":6.67,"uvi":2.04,"clouds":100,"visibility":10000,"wind_speed":7.81,"wind_deg":35,"wind_gust":6.33,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.31},{"dt":1646514000,"temp":32.36,"feels_like":25.99,"pressure":1010,"humidity":36,"dew_point":10.94,"uvi":1.52,"clouds":100,"visibility":10000,"wind_speed":6.91,"wind_deg":27,"wind_gust":5.53,"weather":[{"[...]
