---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC7a57a5776975462e8c88c5dbf832f53f/Messages.json
    body:
      encoding: US-ASCII
      string: Body=You+have+logged+into+your+account&MessagingServiceSid=MGb60e509161592abee5fa9c53245455ba&To=%2B17733920487
    headers:
      Authorization:
      - Basic QUM3YTU3YTU3NzY5NzU0NjJlOGM4OGM1ZGJmODMyZjUzZjo5MThmOTA5NjcxNTVlN2Y2ZGNjYmVmZWU2YmY3MjU3Yw==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ915f2d9e8dc23a1e0c018d30191614bf
      Twilio-Request-Duration:
      - '0.125'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"sid": "SM34fce24cdcba4586bd4c13a19f2834e8", "date_created": "Thu,
        17 Mar 2022 18:49:41 +0000", "date_updated": "Thu, 17 Mar 2022 18:49:41 +0000",
        "date_sent": null, "account_sid": "AC7a57a5776975462e8c88c5dbf832f53f", "to":
        "+17733920487", "from": null, "messaging_service_sid": "MGb60e509161592abee5fa9c53245455ba",
        "body": "You have logged into your account", "status": "accepted", "num_segments":
        "0", "num_media": "0", "direction": "outbound-api", "api_version": "2010-04-01",
        "price": null, "price_unit": null, "error_code": null, "error_message": null,
        "uri": "/2010-04-01/Accounts/AC7a57a5776975462e8c88c5dbf832f53f/Messages/SM34fce24cdcba4586bd4c13a19f2834e8.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/AC7a57a5776975462e8c88c5dbf832f53f/Messages/SM34fce24cdcba4586bd4c13a19f2834e8/Media.json"}}'
  recorded_at: Thu, 17 Mar 2022 18:49:41 GMT
recorded_with: VCR 6.0.0
